.default-button {
  left: 250px;
}

.list {
  display: none;
}

.display-block {
  display: block;
}

.drop-div {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  min-width: 130px;
}

.display-none {
  display: none;
}

.img-drop {
  position: absolute;
  height: 20px;
  margin-left: 65px;
}

.img-drop:hover {
  cursor: pointer;
}
